<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
 <link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />


<body>
	<div class="regis">


		<div class="contain">
			<a href="registartion"><button class="btn">Registeration</button></a>
			<br> <br>
			<div class="line"></div>
			<div class="line2"></div>
			<p class="or">Or</p>

		</div>
		<div class="contain1">

			<a href="login"><button class="btn2">Login</button></a> <br>
		</div>

	</div>

	<div class="heading">
		<h1>
			Sign up to start <br>listening
		</h1>
	</div>
	<div class="b1">
		<button class="btn3">
			<i class="fa-brands fa-google"></i>Sign up with Google
		</button>
	</div>
	<div class="b2">
		<button class="btn4">
			<i class="fa-brands fa-facebook"></i>Sign up with Facebook
		</button>
	</div>
	<div class="b3">
		<button class="btn5">
			<i class="fa-brands fa-apple"></i>Sign up with apple
		</button>
	</div>
	<div class="loginpage">Already have an account?</div>
	<div class="line3"></div>

	<div class="navbar"></div>
	<p class="privacy">This site is protected by reCAPTCHA and the Google<br>
Privacy Policy and Terms of Service apply.</p>>
<div class="nav2"></div>



</body>
</html>